@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@keyframes fadeMoveIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}

html {
  scroll-padding-top: 50px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Mukta', sans-serif;
}


h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}


.section {
  max-width: 1100px;
  padding-top: 0;
  padding-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  
}

.paragraph {
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}

a {
  font-weight: 600;
  font-size: 15px;
}

a:hover {
  color: #2563EB; 
}

.button {
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 50;
}


.tooltip {
  pointer-events: none;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 9999;
  opacity: 0;
  word-wrap: break-word;
  line-height: 1.3;

}



.scrollbar-left {
  direction: rtl;
}

.content-ltr {
  direction: ltr;
  padding-left: 1rem;
}


/*  Global scrollbar for all scrollable elements  */

* {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  /* Firefox thumb + track */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

@media (max-width: 900px) {

  .paragraph {
    text-align: justify;
  }

}