@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@keyframes fadeMoveIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Mukta', sans-serif;
}

h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.section {
  max-width: 1100px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
}

.paragraph {
  max-width: 640px;
  margin-bottom: 2rem;
  font-size: 16px;
  line-height: 1.6;
}

a {
  font-weight: 600;
  font-size: 15px;
}

.tooltip {
  pointer-events: none;
  background: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  z-index: 9999;
  opacity: 0;
}


@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .main {
    padding: 5px;
    text-align: justify;
  }

  h1 {
    font-size: text-4xl; 
  }

  .tooltip {
      min-width: 180px;
  }

}

@media only screen and (orientation: portrait) {
  #landscape-warning {
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
  }

  main, .sidebar {
    display: none; 
  }
}


/* ===== Global scrollbar for all scrollable elements ===== */
* {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  /* Firefox thumb + track */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
}