@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mukta: var(--font-mukta);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed; 
  }
}

@keyframes fadeMoveIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Mukta', sans-serif; /* changed to Mukta */
}

/* ===== Global scrollbar for all scrollable elements ===== */
* {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent; /* Firefox thumb + track */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
